# macOS system files
.DS_Store
results/.DS_Store

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
env/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Ignore outputs
scripts/Output/Figures/
scripts/Output/Tables/
scripts/Output/samples/
scripts/Output/models/
scripts_He/

